
.header{
}

.header .navbar-brand{
    padding: 1rem;
}



.header .nav-items li{
    list-style-type: none;
}

.header .nav-items li a{
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
}